<section class="category-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="category-list row">
          <div class="col-md-12 pb-4">
            <div class="category-background d-flex align-items-end"
                 style="background-image: url('../../../../assets/images/category-1.jpg')">
              <div class="category-text">
                <h2><a href="#">Fruits</a></h2>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="category-background d-flex align-items-end"
                 style="background-image: url('../../../../assets/images/category-2.jpg')">
              <div class="category-text">
                <h2><a href="#">Vegetables</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-list">
          <div class="category-background category-height"
               style="background-image: url('../../../../assets/images/category.jpg')">
            <div class="text text-center">
              <h2>Vegetables</h2>
              <p>Protect the health of every home</p>
              <p><a href="#" class="btn btn-category">
                Shop now
              </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="category-list row">
          <div class="col-md-12 pb-4">
            <div class="category-background d-flex align-items-end"
                 style="background-image: url('../../../../assets/images/category-1.jpg')">
              <div class="category-text">
                <h2><a href="#">Juices</a></h2>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="category-background d-flex align-items-end"
                 style="background-image: url('../../../../assets/images/category-2.jpg')">
              <div class="category-text">
                <h2><a href="#">Dried</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
