.featured-section {
  padding-top: 6em;
  padding-bottom: 6em;

  .subheading {
    color: #82ae46;
    font-weight: 400;
    font-size: 18px;
    display: block;
    font-style: italic;
  }

  h2.heading {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
  }

  p {
    color: gray;
    font-size: 16px;
  }
}
