.header-section {

  .header-top {

    .icon {
      font-size: 8px;
    }

    .topper {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 12px;

      .icon {
        color: #fff;
      }

      .title {
        width: 100%;
        color: #fff;
      }
    }
  }

  .navbar {
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.9px;

    .navbar-brand {
      font-weight: 900;
      color: #82ae46;

      &:hover {
        color: #000;
      }
    }

    .nav-link {
      padding: 25px;
      color: #000;
    }
  }
}

.bg-primary {
  background: #82ae46 !important;
}

