<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="product-item">
        <a href="#" class="product-item-link">
          <img src="../../../../assets/images/product-1.jpg" alt="" class="product-item-link__image">
          <span class="product-sale">30%</span>
        </a>
        <div class="text text-center py-3 pb-4 px-3">
          <h3 class="product-name">Cà chua</h3>
          <div class="d-flex">
            <div class="pricing"><span class="price-dc price">$120.00</span> <span class="price">$80.00</span></div>
          </div>

          <div class="d-flex product-bottom px-3">
            <div class="product-bottom__content d-flex justify-content-center align-items-center">
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-bars"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center mx-1">
                <span class="fa-solid fa-cart-shopping"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-heart"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-item">
        <a href="#" class="product-item-link">
          <img src="../../../../assets/images/product-2.jpg" alt="" class="product-item-link__image">
          <!--          <span class="product-sale">30%</span>-->
        </a>
        <div class="text text-center py-3 pb-4 px-3">
          <h3 class="product-name">Dâu tây</h3>
          <div class="d-flex">
            <div class="pricing">
<!--              <span class="price-dc price">$120.00</span>-->
              <span class="price">$120.00</span></div>
          </div>

          <div class="d-flex product-bottom px-3">
            <div class="product-bottom__content d-flex justify-content-center align-items-center">
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-bars"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center mx-1">
                <span class="fa-solid fa-cart-shopping"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-heart"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-item">
        <a href="#" class="product-item-link">
          <img src="../../../../assets/images/product-3.jpg" alt="" class="product-item-link__image">
          <!--          <span class="product-sale">30%</span>-->
        </a>
        <div class="text text-center py-3 pb-4 px-3">
          <h3 class="product-name">Đậu hà lan</h3>
          <div class="d-flex">
            <div class="pricing">
              <!--              <span class="price-dc price">$120.00</span>-->
              <span class="price">$120.00</span></div>
          </div>

          <div class="d-flex product-bottom px-3">
            <div class="product-bottom__content d-flex justify-content-center align-items-center">
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-bars"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center mx-1">
                <span class="fa-solid fa-cart-shopping"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-heart"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="product-item">
        <a href="#" class="product-item-link">
          <img src="../../../../assets/images/product-4.jpg" alt="" class="product-item-link__image">
          <!--          <span class="product-sale">30%</span>-->
        </a>
        <div class="text text-center py-3 pb-4 px-3">
          <h3 class="product-name">Bắp cải tím</h3>
          <div class="d-flex">
            <div class="pricing">
              <!--              <span class="price-dc price">$120.00</span>-->
              <span class="price">$80.00</span></div>
          </div>

          <div class="d-flex product-bottom px-3">
            <div class="product-bottom__content d-flex justify-content-center align-items-center">
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-bars"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center mx-1">
                <span class="fa-solid fa-cart-shopping"></span>
              </a>
              <a href="" class="d-flex align-items-center justify-content-center">
                <span class="fa-solid fa-heart"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
