<section class="section-wrapper">
  <div class="container">
    <div class="row no-gutters section-services">
      <div class="col-md-3">
        <div class="service-wrapper">
          <div class="service-icon d-flex align-items-center justify-content-center bg-color-1">
            <span class="fa-solid fa-truck icon"></span>
          </div>
          <div class="service-body mt-3">
            <h3 class="service-heading">Miễn phí giao hàng</h3>
            <span>Đơn hàng trên 200k</span>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="service-wrapper">
          <div class="service-icon d-flex align-items-center justify-content-center bg-color-2">
            <span class="fa-solid fa-apple-whole icon"></span>
          </div>
          <div class="service-body mt-3 ">
            <h3 class="service-heading">Luôn luôn tươi sạch</h3>
            <span>Đóng gói cẩn thận</span>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="service-wrapper">
          <div class="service-icon d-flex align-items-center justify-content-center bg-color-3">
            <span class="fa-solid fa-star icon"></span>
          </div>
          <div class="service-body mt-3">
            <h3 class="service-heading">Chất lượng cao</h3>
            <span>Chất lượng sản phẩm</span>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="service-wrapper">
          <div class="service-icon d-flex align-items-center justify-content-center bg-color-4">
            <span class="fa-solid fa-headset icon"></span>
          </div>
          <div class="service-body mt-3">
            <h3 class="service-heading">Hỗ trợ</h3>
            <span>Hỗ trợ 24/7</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
